@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;400&display=swap");

$primary-background-color: #EFEBEB;
$primary-font-color:#000;
$regular-button-padding: 20px 50px;
$primary-font:'Poppins','Open Sans', sans-serif;;

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); /* Adjust the path to the font file as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  background-color: $primary-background-color;
  color:$primary-font-color;
}

.loading-guide {
  position: relative;
  width: 98vw;
  height: auto;
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;

  h1{
    max-width: 40vw;
    font-size: 5em;
    margin: 10px 30px;
    line-height: 10vh;
  }

  .guide-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .guide{
    display: flex;
    flex-direction: column;
    max-width: 25vw;

    img{
      max-width: 25vw;
      height: auto;
      border: solid #000;
    }
  
    h2 {
      font-size: 4em;
      margin-bottom: 10px;
      font-weight: 700;
    }
  
    p {
      font-size: 1.3em;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  #close-btn{
    background-color: transparent;
    padding:$regular-button-padding;
    position: absolute;
    right:0;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
    border: none;
    transition: all 1s ease-out;
    &:hover {
      transform: translateY(2.5px);
    }
  }

  #gofullpage{
    background-color: transparent;
    padding:$regular-button-padding;
    margin: 5px 30px;
    border: #000 solid 2.5px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: $primary-font;
    
    transition: all 1s ease-out;

    &:hover {
      transform: rotateZ(2deg);
    }
  }
}

.top-bar {
  position: sticky;
  width:97.4vw;
  background-color: $primary-background-color;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom: #000 solid;

  .logo {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 5vw;
  }
}

.section-container{
  width: 97.4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .paragraph{
    margin: 3vw 1vw;
    max-width: 30vw;
    box-sizing: border-box;
    
    h1{
      font-size: 1em;
    }
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: $primary-background-color;
  color: $primary-font-color;

  h1{
    margin-left: 2vw;
    font-size: 1.5em;
  }

  .word-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2.5px solid #000;

    div {
      background-color: transparent;
      font-size: 1em;
      font-weight: 700;
      padding: 10px;
      cursor: move;
      user-select: none;
    }
  }
}
